In [1]:
# Pre-processing of the datafiles
import pandas as pd 
import numpy as np
import math

In [2]:
df_oranges = pd.read_csv("M:/My Documents/M Drive material/Data Science and DM/Assignment 1 files/Datasets/Oranges Grapefruit/citrus.csv",header=0)
df_oranges.head()

     name  diameter  weight  red  green  blue
0  orange      2.96   86.76  172     85     2
1  orange      3.91   88.05  166     78     3
2  orange      4.42   95.17  156     81     2
3  orange      4.47   95.60  163     81     4
4  orange      4.48   95.76  161     72     9

In [3]:
df_Breast = pd.read_csv("M:/My Documents/M Drive material/Data Science and DM/Assignment 1 files/Datasets/Breast Cancer/Breast_cancer_data.csv",header=0)
df_Breast.head()

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
0,17.99,10.38,122.80,1001.0,0.11840,0
1,20.57,17.77,132.90,1326.0,0.08474,0
2,19.69,21.25,130.00,1203.0,0.10960,0
3,11.42,20.38,77.58,386.1,0.14250,0
4,20.29,14.34,135.10,1297.0,0.10030,0

In [4]:
df_Heart = pd.read_csv("M:/My Documents/M Drive material/Data Science and DM/Assignment 1 files/Datasets/Heart Disease/Heart Disease Dataset.csv",header=0)
df_Heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
#df_oranges = df_oranges[:8].copy()
#df_oranges

In [6]:
#column_index = df_oranges.columns
#print(column_index)
#type(column_index)
#column_list = list(column_index)
#print(column_list)
#type(column_list)
#print(column_list[1])
#print(df_oranges['name'][2])
#pd.isna(df_oranges['name'])

In [7]:
#oranges_rows, oranges_cols = df_oranges.shape
#print(oranges_rows)
#print(oranges_cols)

In [8]:
#if (1 == 1):
 #   print('in the loop')

In [9]:
#df_oranges[column_list[5]][2]

In [10]:
def is_nan(x):
    return (x is np.nan or x != x)

In [11]:
def missing_values(df):
    column_list = list(df.columns)
    rows,cols = df.shape
    for i in range(cols):
        #print('col i=',i)
        count = 0
        bool_TF = True
        for j in range(rows):
            #print('row j=',j)
            bool_TF = is_nan(df[column_list[i]][j])
            if (bool_TF == True):
                #print('Missing value at row ', j, ' and column name ', column_list[i] )
                count = count+1
    print('There are', count,' missing values.')

In [12]:
missing_values(df_oranges)

There are 0  missing values.

In [13]:
df_orangescopy = df_oranges.copy()
#df_orangescopy.head()
df_orangescopy.replace({'orange':0,'grapefruit':1}, inplace=True)
#df_orangescopy

In [14]:
missing_values(df_Breast)

There are 0  missing values.

In [15]:
missing_values(df_Heart)

There are 0  missing values.

In [16]:
def imbalance(df,col_name):
    x=df[col_name].value_counts(ascending=True)
    print('0 count = ', x[0])
    print('1 count = ', x[1])
    if (x[0]>x[1]):
        imbalance_ratio = x[0]/(x[0]+x[1]) 
    imbalance_ratio = x[1]/(x[0]+x[1])
    return(imbalance_ratio)

In [17]:
ratio = imbalance(df_orangescopy, 'name')
print(ratio)

0 count =  5000
1 count =  5000
0.5

In [19]:
# Need to delete 4444 zeros to get a ratio of 0.9
df_orangescopy=df_orangescopy.sort_values(by='name', ascending=True)[4444:-1]
df_Heart.shape

(303, 14)

In [20]:
ratio = imbalance(df_orangescopy, 'name')
print(ratio)

0 count =  556
1 count =  4999
0.8999099909991

In [21]:
ratio = imbalance(df_Heart, 'target')
print(ratio)

0 count =  138
1 count =  165
0.5445544554455446

In [22]:
# Need to delete 97 zeros to get a ratio of 0.8
df_Heart=df_Heart.sort_values(by='target', ascending=True)[97:-1]
df_Heart.shape

(205, 14)

In [23]:
ratio = imbalance(df_Heart, 'target')
print(ratio)

0 count =  41
1 count =  164
0.8

In [24]:
ratio = imbalance(df_Breast, 'diagnosis')
print(ratio)

0 count =  212
1 count =  357
0.6274165202108963